@font-face {
  font-family: 'SF Distant Galaxy';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/SF\ Distant\ Galaxy.ttf') format('truetype')
}
.footer {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  color: #000;
  font-size: 25px;
  font-family: 'SF Distant Galaxy', sans-serif;
  -webkit-text-stroke: 1px #e5b13a;
}
