html,
body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
}

#app {
  background-attachment: fixed;
  padding-top: 30px;
  width: 100%;
  height: 100%;
  background-image: url(https://naked-science.ru/wp-content/uploads/2018/04/field_image_istock-516189065.jpg);
  background-size: cover;
}
