.nav {
  width: 100%;
}

.nav__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  flex-wrap: wrap;
}

.nav__item {
  width: 350px;
  height: 350px;
  margin: 20px;
}

.nav__link {
  display: block;
  width: inherit;
  height: inherit;
  background-color: red;
}
